* {
  margin: 0;
}

html,
body {
  --gray: hsl(240, 9%, 89%);
  --black: hsl(240, 6%, 13%);
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {

  display: grid;
  place-items: center;
  background-color: hsl(240, 6%, 13%);
}


main {
  background: url(images/background.svg) no-repeat center/cover; 
  width: 100vw;
  min-height: 812px;
  height: 100vh;
  color: var(--gray);
}
img{
  position: center;
  
}
.content {
  max-width: 250px;
  margin: auto;
  text-align: center;
}

.avatar{
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}
.avatar span{
  position: absolute;
  top: -15px;
  z-index: 1;
}
.avatar > img{
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 21%, 100% 79%, 50% 100%, 0 79%, 0 21%);

}
h1 {
  font-size: 1.5rem;
  
  margin-top: 1.5rem
}
a {
  color: var(--gray);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;

}
p{
  margin-top: 2rem;
}

ul{
  margin-top: 3rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.fade {
  background-color: rgb(14, 11, 11);
  border: none;
  padding: 0 0;
  text-align: center;
  transition: 0.3s;
}

.fade:hover {
  background-color: #470EC0;
  color: white;
}

@media only screen and (max-width: 720px) { 
  body{
    background: none;
    background-color: black;
  }
  main{
    background: url(/images/background-desktop.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
    transition: 0.3s;
  }

  .content {
    margin-top: 21.5rem;
  }

  .avatar {
    width: 10rem;
    margin: 3rem auto 0;
    position: relative;
  }

  ul {
    margin-top: 3.5rem;
  }
}

@media only screen and (max-width: 960px) { 
  body{
    background: none;
    background-color: black;
  }
  main{
    background: url(/images/background-desktop.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
    transition: 0.3s;
  }

  .content {
    margin-top: 21.5rem;
  }

  .avatar {
    width: 10rem;
    margin: 3rem auto 0;
    position: relative;
  }

  ul {
    margin-top: 3.5rem;
  }
}

@media only screen and (max-width: 1400px) { 
  body{
    background: none;
    background-color: black;
  }
  main{
    background: url(/images/background-desktop.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
    transition: 0.3s;
  }

  .content {
    margin-top: 18rem;
  }

  .avatar {
    width: 10rem;
    margin: 3rem auto 0;
    position: relative;
  }

  ul {
    margin-top: 3.5rem;
  }
}
@media only screen and (min-width: 1400px) { 
  body{
    background: none;
    background-color: black;
  }
  main{
    background: url(/images/background-desktop.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
    transition: 0.3s;
  }

  .content {
    margin-top: 18rem;
  }

  .avatar {
    width: 10rem;
    margin: 3rem auto 0;
    position: relative;
  }

  ul {
    margin-top: 3.5rem;
  }
}
